---
import Layout from '../../../layouts/Layout.astro'

---

<Layout>
	<!-- Hero Section -->
	<section class='flex items-center gap-12 border-b pb-12'>
		Categories of picoCTF Write-ups	
	</section>
</Layout>
